<div class="form-group <%= form.object.errors[:name_ru].empty? ? '' : 'has-error' %>">
  <%= form.label :name_ru, t('.name_ru'), class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= form.text_field :name_ru, class: 'form-control', 
        placeholder: t('.name_ru_placeholder') %>
    <span class="text-danger"><%= form.object.errors[:name_ru][0] %></span>
  </div>
</div>

<div class="form-group <%= form.object.errors[:name_en].empty? ? '' : 'has-error' %>">
  <%= form.label :name_ru, t('.name_en'), class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= form.text_field :name_en, class: 'form-control', 
        placeholder: t('.name_en_placeholder') %>
    <span class="text-danger"><%= form.object.errors[:name_en][0] %></span>
  </div>
</div>

<div class="form-group <%= form.object.errors[:championship_page].empty? ? '' : 'has-error' %>">
  <%= form.label :championship_page, t('.championship_page'), class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= form.text_field :championship_page, class: 'form-control', 
        placeholder: t('.championship_page_placeholder') %>
    <span class="text-danger"><%= form.object.errors[:championship_page][0] %></span>
  </div>
</div>

<div class="form-group">
  <%= label_tag 'coaches', t('coaches'), class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= hidden_field_tag 'team[coach_ids][]', nil %>
    <% @coaches.each_with_index do |coach, i| %>
      <% if (i % 3) == 0 %>
        <div class="row">
      <% end %>

      <div class="checkbox col-sm-4">
        <label>
          <%= check_box_tag 'team[coach_ids][]', coach.id, 
                            @team.coach_ids.include?(coach.id) %>
          <%= localized_name(coach) %>
        </label>
      </div>

      <% if (i % 3) == 2 || i == (@coaches.count - 1) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>