<h1><%= t('.heading') %></h1>

<% if current_user.admin? %>
  <%= link_to t('.new'), new_team_path, class: 'btn btn-primary' %>
<% end %>

<table class="teams table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th><%= t('coaches') %></th>
      <th><%= t('welcome.index.leagues') %></th>
    </tr>
  </thead>
<% @teams.each do |team| %>
  <tr id="<%= dom_id(team) %>">
    <td class="col-sm-2">
      <%= link_to localized_name(team), team_path(team) %>
    </td>
    <td class="col-sm-1">
      <% unless team.championship_page.blank? %>
        <%= link_to t('.championship_page'), team.championship_page, class: 'text-muted' %>
      <% end %>
    </td>
    <td class="col-sm-3">
      <%= user_list(team.users.coaches) %>
    </td>
    <td class="col-sm-3">
      <%= league_list_for(team) %>
    </td>
    <td class="col-sm-2">
      <% if current_user.admin? %>
        <%= link_to t('edit'), edit_team_path(team), class: 'btn btn-info btn-sm' %>
        <%= link_to t('delete'), team_path(team), remote: true, method: 'delete',
                    class: 'btn btn-danger btn-sm', 
                    data: { confirm: t('confirm') } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>