<h1><%= t('.heading') %> <%= link_to t('.all_teams'), teams_path, class: 'btn btn-primary' %>
</h1>
<h2 class="text-info"><%= localized_name(@team) %></h2>

<% unless @team.coaches.empty? %>
  <p>
    <strong><%= t('coaches') %>:</strong> <%= coach_list_for(@team) %> 
  </p>
<% end %>

<% unless @team.leagues.empty? %>
  <p>
    <strong><%= t('welcome.index.leagues') %>:</strong> <%= league_list_for(@team) %> 
  </p>
<% end %>