<h1><%= t('.heading') %> <%= link_to t('.all_teams'), teams_path, class: 'btn btn-primary' %>
</h1>
<h2 class="text-info"><%= localized_name(@team) %></h2>

<% unless @team.coaches.empty? %>
  <%= t('coaches') %>: <%= coach_list_for(@team) %> 
<% end %>