<h1><%= t('.heading') %></h1>

<%= form_for @equipment, html: { class: 'form-horizontal' } do |f| %>
  
  <%= render partial: 'form', object: f %>

  <div class="form-group">
    <div class="col-sm-1 col-sm-offset-2">
      <%= button_tag t('add'), class: 'btn btn-primary'  %> 
    </div>
    <div class="col-sm-1">
      <%= link_to t('cancel'), equipment_index_path, class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>