<h1><%= t('.heading') %></h1>
<h2 class="text-info"><%= localized_name(@user) %> <%= role_for(@user) %></h2>


<% unless @user.teams.empty? %>
  <p>
    <strong><%= t('welcome.index.teams') %>: </strong>
    <%= team_list_for(@user) %> 
  </p>
<% end %>
