<h1><%= t('.heading') %></h1>

<ul class="nav nav-pills nav-stacked">
  <% if current_user.admin? %>
    <li>
      <%= link_to raw("#{t('.users')} <span class='badge'>#{User.count}</span>"), 
                  users_path, class: "list-group-item" %>
    </li>
  <% end %>
  <% if %w(admin coach sponsor).include? current_user.role %>
    <li>
      <%= link_to raw("#{t('.expenses_incomes')} <span class='badge'>#{Deal.count}</span>"), 
                  transactions_path, class: "list-group-item" %>
    </li>
  <% end %>
  <li>
    <%= link_to raw("#{t('.equipment')} <span class='badge'>#{Equipment.count}</span>"), 
                equipment_index_path, class: "list-group-item" %>
  </li>
  <li>
    <%= link_to raw("#{t('.teams')} <span class='badge'>#{Team.count}</span>"), 
                teams_path, class: "list-group-item" %>
  </li>
  <li>
    <%= link_to raw("#{t('.leagues')} <span class='badge'>#{League.count}</span>"), 
                leagues_path, class: "list-group-item" %>
  </li>
  <li>
    <%= link_to raw("#{t('.results')} <span class='badge'>#{Event.archived.count}</span>"), 
                archive_events_url, class: "list-group-item" %>
  </li>
  <li>
    <%= link_to raw("#{t('.calendar')} <span class='badge'>#{Event.current.count}</span>"), 
                events_path, class: "list-group-item" %>
  </li>
</ul>